.app {
  background-color: #0c2975;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  height: 100%;
  overflow: hidden;
}

.app-logo {
  min-height: 3vmin;
  pointer-events: none;
  margin-left: 16px;
}

.app-header {
  margin: auto;
  max-width: 1204px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  display: flex;
  flex-direction: row;
  min-height: 10vmin;
}

.app-body {
  position: relative;
  z-index: 1;
  margin: auto;
  max-width: 1204px;
  padding: 40px 0;
}

.app-body h2 {
  margin-left: 16px;
}

.app-header img {
  margin-right: 6vmin;
}

.app-background {
  max-width: 100%;
  position: absolute;
  right: -350px;
  top: -100px;
  left: auto;
  bottom: auto;
  z-index: 0;
}

@media (max-width: 992px) {
  .app-background {
    display: none;
  }
}

/* FORM CLASSES */

.form-container {
  margin: 2vmin auto 2vmin auto;
}

.form-input {
  height: 48px;
  margin-bottom: 0;
  padding: 3px 0 0 18px;
  border-color: rgba(20, 20, 20, 0.1);
  border-radius: 6px;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}

.error {
  color: red;
  font-size: 12px;
}

.error-message {
  position: absolute;
  top: 5px;
}

.input-error {
  border: 2px solid red;
}

.form {
  margin-left: 16px;
  display: grid;
  max-width: 480px;
  grid-template-rows: auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.full-row {
  grid-column: span 2;
}

.submit-button {
  margin-right: 0;
  margin-left: 0;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #1c53e7;
  font-family: Montserrat, sans-serif;
  text-align: center;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: white;
  outline: none;
  border: 1px solid transparent;
  height: 48px;
  font-size: 16px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #4975ec;
}

.submit-button:active {
  border: 1px solid white;
  border-radius: 4px;
}
