.app {
  background-color: #0c2975;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

.app-logo {
  height: 4vmin;
  pointer-events: none;
}

.app-header {
  height: 6vmin;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  display: flex;
  flex-direction: row;
}
